body {
	background-color: lightgrey;
}
.main_body {
	background-color: white;
	width: 90%;
	margin-top: -10px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
}
/*----------------------------------  Header ----------------------------------*/
header .logo {
	text-align: center;
	margin-top: 10px;
}
header .social img {
	display: inline;
	margin-top: 65px;
	margin-left: 3px;
}
header hr {
	width: 94%;
	color: grey;
}
header dt {
	display: inline;
}
/*---------------------------------- Nav Header ----------------------------------*/
nav a {
	text-decoration: none;
	color: grey;
}
nav a:hover {
	text-decoration: underline;
	color: #e6b800;
}
nav span {
	margin-left: 6px;
	margin-right: 6px;
	color: lightgrey;
}
nav .container_12 {
	width: 100%;

}
nav dl {
	width:900px;
	margin-top:1px;
	margin-left: 10px;
}
nav form {
	margin-left: 150px;
	width:300px;
}
/*----------------------------------  End Nav Header ----------------------------------*/
/*----------------------------------  End Header ----------------------------------*/
/*----------------------------------  Section ----------------------------------*/
section {
	width:980px;
	margin: auto;
}
section a {
	text-decoration: none;
	color: black;
}
section a:hover{
	text-decoration: underline;
}
/*----------------------------------  End Section ----------------------------------*/
/*----------------------------------  Article ----------------------------------*/
article .grid_3 {
	display: inline;
	margin-top: 30px;
	margin-bottom: 20px;
}
/*----------------------------------  End Article ----------------------------------*/
/*----------------------------------  Footer ----------------------------------*/
footer {
	background-image: url("../../images/bottom.png");
	color: grey;
}
footer a {
	text-decoration: none;
	color: grey;
}
footer a:hover {
	text-decoration: underline;
	color: #e6b800;
}
footer .grid_3 {
	margin-top: 10px;
}
footer .grid_3 hr {
	margin-top: 5px;
	margin-bottom: 5px;
}
footer .grid_5 {
	margin-top: 10px;
}
footer #footerbottom {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 25px;
}
.footerright span {
	color: lightgrey;
}
/*----------------------------------  End Footer ----------------------------------*/